html,h1,h2,h3,h4,h5,h6,a,button{
    font-family: 'Raleway', sans-serif;
}
html {
    --theme-color : #e87200;
    --second-color : #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
}

.main-block {
    position: relative;
    overflow: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

/* nav starts here */
#burger-menu {
    display: flex;
    color: var(--second-color);
    font-weight: 900;
    font-size: 2.5rem;
    cursor: pointer;
}

#mobile-menu {
    width: 100%;
    background-color: var(--theme-color);
    display: block;
    font-weight: 500;
}
.mobile-menu-div {
    border-bottom: 1px solid white;
    color: var(--second-color);
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
}
.mobile-download {
    background-color: var(--second-color);
    color: var(--theme-color);
}

.nav {
    display: none;
}
.nav__item {
    color: var(--second-color);
    font-weight: 500;
    font-size: 1.2rem;
}
.nav__item:hover {
    opacity: 0.85;
}
.push {
    margin-left: auto;
}

.nav__button {
    color: var(--theme-color);
    background-color: var(--second-color);
    padding: 0.1em 1em;
    border-radius: 10em;
}

/* nav ends here */

header {
    background-color: var(--theme-color);
    padding: 1.3em 0;
}

/* bio starts here */
#bio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 2em;
}
#bio img, #resume {
    width: 100%;
    border-radius: 5px;
}
#resume h1 {
    margin: 0 0 0.5em 0;
}
/* bio ends here */
/* skills  */
h2 {
    margin: 30px 0px 10px 0px;
}
h1 {
    margin: 20px 0px;
}
#skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    justify-items: center;
    gap: 20px 30px;
    padding: 20px 0;
    max-width: 800px;
    margin: auto;
    position: relative;
}
#skills img {
    position: relative;
    will-change: left, right, top, opacity;
}
img {
    max-width: 100%;
} 

.skill  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

/* skills ends */
/* projects  */
#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px 30px;
    padding: 20px 0;
}
.project {
    position: relative;
    display: flex;
    border-radius: 5px;
}
.dark-background {
    background-color: rgba(0,0,0,0.8);
}
.project h3, .project p  {
    color: white;
}

.project img{
    width: 100%;
}

.project:hover img {
    opacity: 0.3;
    transition: opacity 0.5s ease-out;
}


.project__inner {
    position: absolute;
    top : 0px;
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project button {
    cursor: pointer;
    padding: 0.8em 2.5em;
    background-color: rgba(255, 255, 255, 0);
    border : 1px solid var(--theme-color);
    color: white;
    border-radius: 5px;

}
.project button:hover {
    background-color:  var(--theme-color);
    border: var(--theme-color);
    color:rgb(0, 0, 0)
}

.project:hover > div {
    opacity: 1;
}
.project:active > div {
    opacity: 1;
}
.project h3 {
    text-align: center;
}
.project p {
    font-size: 0.8rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.skew {
    animation: skew alternate-reverse 100ms;
}
.skew * {
    animation: skew alternate-reverse 100ms;
}
@keyframes skew {
    from {transform: skewX(0deg);}
    to { transform: skewX(30deg);} 
}
/* projects end */

/* experiance */
#experience {
    position: relative;
    max-width: 1200px;
    margin: 0 auto 20px auto;
    padding-top: 20px;
}
 
/* line */
#experience::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgb(0, 0, 0);
    top: 20px;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

  /* card with content */
.card {
    padding: 10px 0;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.right {
    left: 50%;
    padding-left: 0px;
}

.left {
    left: 0;
    padding-right: 0px;
}
/* this is actual card */
.content {
    padding: 10px 10px 20px 30px;
    background-color: var(--second-color);
    position: relative;
    border-radius: 6px;
  }
.content h3 {
    color: var(--theme-color);
}
.content p:nth-child(2) {
    font-weight: 900;
}
.content p {
    margin-bottom: 20px;
}

  /* The circles on the timeline */
  .card:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -16px;
    background-color: var(--second-color);
    border: 4px solid var(--theme-color);
    top: 16px;
    border-radius: 50%;
    z-index: 1;
  }
  .right::after {
    left: -16px;
  }
  

/* experience ends */

form input:hover, form input:focus, textarea:focus, textarea:hover {
    border: 1px solid var(--theme-color);
    outline: 0;
}
input, textarea {
    border-radius: 5px;
    border: 1px solid gray
}
.check:invalid {
    border: 2px dotted rgb(255, 0, 0)
}

#name, #email, #company, #submit, #message{
    padding-left: 1.5em;
    width: 100%;
    margin-bottom: 1em;
}
#name, #email, #company, #submit{
    height: 3rem;
}
#message {
    padding-top: 1em;
}
#submit {
    background-color: var(--theme-color);
    border: 0;
    color: var(--second-color);
    text-transform: uppercase;
    padding-left: 0;
}
#submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

#name::placeholder, #email::placeholder, #company::placeholder {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
label {
    justify-self: end;
}

#message::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}


#footer {
    /* background-color: var(--theme-color); */
    height: 120px;
}


@media (min-width: 640px) {
    .nav {
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    .nav__list {
        display: flex;
        list-style-type: none;
        gap: 1.5em;
        color: var(--second-color);
    }
    .container {
        width: 80%;
    }
    #mobile-menu{
        visibility: hidden;
    }
    #burger-menu {
        display: none;
    }
    #bio {
        flex-direction: row;
    }
    #bio img{
        width: 30vw;
        max-width: 350px;
    }
    #resume {
        max-width: 600px;
    }
}
@media (min-width: 1400px) { 
    .container {
        width: 70%;
    }
}
    



